body {
    margin: 10px;
    padding: 2%;
}


.name-label {
font-family: "Borel", cursive;
color: #f07b7b;
--s: 10px;
padding-inline: .9em calc(var(--s) + .5em);
padding-top: 10px; 
padding-bottom: px;
clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 50%, 100% 100%, 0 100%);
background: #ffe2e2;
width: fit-content;
}



.name-label-border  {
font-family: "Borel", cursive;
--s: 10px;
padding-inline: 2px;
padding-top: 12px; 
padding-bottom: 2px;
clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 50%, 100% 100%, 0 100%);
background: #fd9494;
width: fit-content;
    }

    

.chat-user {
 margin: 5px;
 margin-bottom: 10px;
}

.chat-text {
    color: #f07b7b;
    display: block;
    margin-left: 30px;
    margin-top: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}


    